
.liquipedia-colors {
    --header-color: #222426;
    --body-color: #1b1b1b;
    --footer-color: #2a2e34;
    --main-color: #9fc9ff;
    --secondary-color: #5c400a;
    --text-color: #e2e2e6;
}

body {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;

    display: grid;
    grid-template-rows: 1fr 80% 1fr;
}

.header {
    background: var(--header-color);
}

.content {
    background: var(--body-color);
}

.footer {
    background: var(--footer-color);
}
